@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Bree+Serif&family=EB+Garamond:ital,wght@0,500;1,800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,300&family=Pacifico&family=Poppins:wght@200&family=Roboto:ital@1&family=Rubik&display=swap');



body {
background: #DFC2F2;
background-image: linear-gradient( to right, #ffffb3,#ffe6e6);
background-attachment: fixed;	
background-size: cover;
}


.caja{
  background-color: #8b0186c5;
height: 100px;
position: absolute;
border-radius: 20px;
top: 5%;
left: 20%;
right: 20%;
align-items: center;
display: flex;
height: 100px;
justify-content: space-around;

}   
.caja h1{
text-transform: capitalize;
color: #ffcaca;
opacity: 70%;
font-weight: 600;
font-family: 'Montserrat', sans-serif;
font-family: 'Pacifico', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Rubik', sans-serif;
font-size: 31px;
}

.contador{
  position: relative;
  bottom: 70%;
  left: 25%;
}

.alert{
  text-align: center;
  position: fixed;
  top: 23%;
  left: 25%;
  right: 25%;
  background: #ffcaca !important;
  border-radius: 10px !important;
  z-index: 100;
  color: #8b0186c5 !important;
  font-family: 'Montserrat', sans-serif;
font-family: 'Pacifico', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Rubik', sans-serif;
}

.visible{
  display: none;
}

main{
display: grid; 
grid-auto-columns: 1fr; 
grid-template-columns: 1fr 1fr; 
grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr; 
gap: 1px 1px; 
grid-template-areas: 
  "1 2"
  "3 4"
  "5 6"
  "7 8"
  "9 10"
  "11 12"; 
  gap: 50px;
  width: 1000px;
  margin: 250px auto;
  }
.btn2{
  background-image: url(	https://e7.pngegg.com/pngimages/833/426/png-clipart-shopping-cart-shopping-cart.png);
  background-size: cover;
  background-position: center;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  opacity: 70%;
  width: 40px;
  height: 40px;
  border: none;
  transition: all 0.3s ease-out;
  
}
.btn2:hover{
opacity: 90%;

}

#contenedor{
  box-shadow: 0 15px 30px 1px grey;
  background: rgba(255, 255, 255, 0.90);
  text-align: center;
  border-radius: 5px;
  overflow: hidden;
 
  height: 320px;
  width: 500px;
}



.producto-data {
  position: relative;
  text-align: left;
  overflow: hidden;
  padding: 30px;
  height: 100%;
  float: left;
  width: 38%;
  
}

#contenedor .producto-data h1{
  font-family: 'Bebas Neue', cursive;
  display: inline-block;
  position: relative;
  font-size: 30px;
  color: #344055;
  margin: 0;
  
}
#contenedor .producto-data p {
font-family: 'EB Garamond', serif;
  text-align: center;
  font-size: 19px;
  color: #7d7d7d;
  padding-top: 23px;
}
.control{
  position: absolute;
  bottom: 20%;
  left: 15%;
  
}
.btn {

  transform: translateY(0px);
  transition: 0.3s linear;
  background:  #8b0186a4;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  outline: none;
  border: none;
  color: #eee;
  padding: 0;
  margin: 0;
  
}

.btn:hover{transform: translateY(-6px);
  background: #8b0186c5;}

.btn span {
  font-family: 'Farsan', cursive;
  transition: transform 0.3s;
  display: inline-block;
  padding: 10px 20px;
  font-size: 1.2em;
  margin:0;
  
}
.btn .precio{
  background: #333;
  border: 0;
  margin: 0;
} 

.btn .precio {
  transform: translateX(-10%); padding-right: 15px;
}
.btn .comprar {
  z-index: 3; font-weight: bolder;
  
}

.btn:hover .precio {transform: translateX(-110%);}

.producto-imagen {
  transition: all 0.3s ease-out;
  display: inline-block;
  position: relative;
  left: 30px;
  overflow: hidden;
  height: 100%;
 
  width: 50%;
  display: inline-block;
}

.milka1 img {
  width: 155px;
  height: 100%;
  transform: translateX(15%);
  
}
.milka2 img{
  height: 90%;
  width: 155px; 
  transform: translateX(10%);
  margin-top: 6%;
}
.milka3 img{
  width: 140px;
  height: 100%;
  transform: translateX(10%);


}
.milka4 img{
  width: 140px; 
  transform: translateX(10%);
  height: 92%;
  margin-top: 5%;
  
}
.milka5 img{
  width: 140px; 
  transform: translateX(10%);
  height: 100%;
}
.milka6 img{
  width: 140px; 
  transform: translateX(10%);
  height: 94%;
  margin-top: 3%;
}
.milka7 img{
  width: 140px;
  height: 100%;
  transform: translateX(10%);
}
.milka8 img{
  width: 140px; 
  transform: translateX(10%);
  height: 90%;
  margin-top: 5%;
}
.milka9 img{
  width: 155px;
  height: 100%;
  transform: translateX(12%);
}
.milka10 img{
  width: 160px;
  height: 100%;
  transform: translateX(9%);
}
.milka11 img{
  transform: translateX(11%);
  height: 100%;
}
.milka12 img{
  width: 125px;
  height: 90%;
  margin-top: 6%;
  transform: translateX(12%);
 
}
.producto-imagen img{
  transition: transform 0.4s;
}
.producto-imagen :hover{
  transform:translateX(-15%);
}
.btn:hover .comprar{
 transform: translateX(-35%);
}

/* carrito */

.carrito{
  height: auto;
  padding-bottom: 5px;
  width: 70%;
  margin: 0 auto;
  border-radius: 30px 30px 0 0;
  background-color: rgba(255, 255, 255, 0.329);
}


.carrito-info{
  margin-bottom: 5%;
}

.carrito-info h1{
text-align: center;
color: #333;
padding-top: 80px;
font-family: 'Montserrat', sans-serif;
font-family: 'Pacifico', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Rubik', sans-serif;
 
}
.linea {
  border-top: 1px solid rgba(0, 0, 0, 0.377);
  height: 2px;
  max-width: 100%;
  padding: 0;
  margin: 20px auto 0 auto;
}
.linea2{
  border-top: 1px solid rgba(0, 0, 0, 0.377);
  height: 2px;
  max-width: 100%;
  padding: 0;
  margin: 20px auto 0 auto;
  position: relative;
  bottom: 39px;
}
.chocolate-info{
  display: flex;
  justify-content: space-around;
}
.chocolate-info p{
display: inline-block;
font-size: 19px;
color:#7d7d7d;
font-family: 'EB Garamond', serif;

}
.carrito-cancelar button{
  background-color:#ff2726;
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 3px;
  color: wheat;
  cursor: pointer;
  opacity: 90%;
  transition: all 0.3s ease-out;
}
.carrito-cancelar button:hover{
opacity: 100%;
}

.cantidad{
  border: none;
  height: 25px;
  
}

.carrito-compra {
  margin: 5% 3.5% 5% 6%;
  display: grid; 
  grid-auto-columns: 1fr; 
  grid-template-columns: 12% 35% 35% 10%; 
  grid-template-rows: 1fr; 
  gap: 1px 1px; 
  grid-template-areas: 
    "carrito-img carrito-titulo carrito-precio carrito-cancelar"; 
    
}
.carrito-img{
  grid-area: carrito-img;

}
.carrito-img img{
  width: 75px;
  height: 150px;
  border-radius: 10px;
  margin-top: 0;

}
.carrito-titulo{
  grid-area: carrito-titulo;
  color: #333;  
   position: relative;
  top: 45%;
}
.carrito-titulo h4{
  margin-top: 0;
}
.carrito-precio{
  grid-area: carrito-precio;
  color: #333;
   position: relative;
  top: 45%;
}
.carrito-precio h4{
  margin-top: 0;
}
.carrito-cancelar{
  grid-area: carrito-cancelar;
  margin-top: 0;
  position: relative;
  top: 45%; 
}
.carrito-cancelar input{
  width: 40px;

}

.contenedor-precio-total{
  border-radius: 0 0 30px 30px ;
  width: 60%;
  height: 80px;
  padding: 20px 0 20px 0;
  background-color: rgba(255, 255, 255, 0.329);
  margin: 0 auto;
  margin-bottom: 50px;
}
.preciototal{
margin-left: 12%;
}
.compra-final{
position: relative;
left: 70%;
bottom: 55%;
width: 100px;
}
.compra-final button{
  transition: 0.3s linear;
  background:  rgb(26, 25, 25);
  border-radius: 5px;
  overflow: hidden;
  cursor: pointer;
  outline: none;
  border: none;
  color: #eee;
  padding: 0;
  margin: 0;
  width: 75px;
  height: 30px;
}
.compra-final button:hover{
  background-color: black;
  
}
